<ul>
  <li *ngFor="let person of people">
    <a [routerLink]="['/persons', person.id]">
      {{person.name}}
    </a>
  </li>
</ul>

<app-person-details [person]="selectedPerson"></app-person-details>
